body {
    background-color: #443344;
    font-family: Arial, Helvetica, sans-serif;
    color: #dcdcdc;
}
h1 {
    font-size: 60px;
    text-align: center;
}
div {
    background-color: #787878;
    text-align: center;
    padding: 30px;
    border: 3px solid #565656;
    border-radius: 15px;
}
div#actions {
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    width: 220px;
    height: 150px;
}
div#materials {
    position: absolute;
    top: 100px;
    left: calc(25% - 150px);
    width: 220px;
    height: 150px;
}
div#skills {
    position: absolute;
    top: 100px;
    right: calc(25% - 170px);
    width: 250px;
    height: 150px;
}
div#costs {
    position: absolute;
    top: 350px;
    right: calc(25% - 170px);
    width: 250px;
    height: 150px;
}
button#reset {
    position:absolute;
}
div#actions button {
    width: 90px;
}